.page {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 32px;

  /*width: 100vw;*/
  /*height: 100vh;*/
}

.header {
  font-size: 24px;
}

.previewGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 32px;
}

@media (max-width: 700px) {
  .previewGroup {
    flex-direction: column;
  }
}

.previewCtn {
  /*background: blue;*/

  outline: 2px solid #989898;

  width: 300px;
  height: 300px;
}

.noImage {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;

  width: 100%;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.bottombar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.bottombaritem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 16px;
}

.bottombartext {
  font-weight: 600;
  color: #aab223;
}

.emojiCtn {
  width: 200px;
  height: 300px;

  outline: 2px solid #989898;

  overflow: auto;
  /*overflow-x: hidden;*/
}

.emojiImg {
  width: 25px;
  height: 25px;

  object-fit: contain;
}

.fileInput {
  display: none;
}

.chooseFile {
  padding: 8px 16px;

  background-color: #4caf50;
  color: white;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}
